{% extends 'work/base.html' %}

{% block content %}
    <p>Hello {{ user.username }}!</p>
    <p>LOG YOUR TIME BELOW:</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add log</button>
    </form>
    {% if display_day %}
        <p>----------------------------------------------</p>
        <p>Total logs for today: {{ total_day }}</p>
        <p>Logs for today:</p>
        <p>Duration   Project   Remarks</p>
        {% for log in day_logs %}
            <p>
                {{ log }}
            </p>
        {% endfor %}
    {% endif %}

    {% if display_week %}
        <p>----------------------------------------------</p>
        <p>Total logs for today: {{ total_week }}</p>
        <p>Logs for the week:</p>
        <p>Duration   Project   Remarks</p>
        {% for log in week_logs %}
            <p>
                {{ log }}
            </p>
        {% endfor %}
    {% endif %}

    {% if display_month %}
        <p>----------------------------------------------</p>
        <p>Total logs for the month: {{ total_month }}</p>
        <p>Logs for the month:</p>
        <p>Duration   Project   Remarks</p>
        {% for log in month_logs %}
            <p>
                {{ log }}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}
